body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.banner,
.subtitle {
  text-align: center;
}

.banner {
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.subtitle {
  background-color: white;
}

.subtitle h2 {
  font-size: 21px;
  line-height: 26px;
}

.feature-text {
  color: white;
  background-color: #81b3d2;
}

.offers {
  background-color: white;
}

.offers-list li {
  list-style: none;
}

.reasons li {
  list-style: none;
}

.search {
  background-color: white;
  text-align: center;
}

.search-item {
  font-size: 25px;
  font-weight: 700;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;

  background-color: #766357;
  border: none;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: #827872;
  background-color: #503e33;
}

.form-booking,
.form-booking input[value] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.form-booking input {
  background-color: #f2f2f2;
}

.form-booking input:hover {
  background-color: #ebebeb;
}

.form-booking input:active {
  border: #e5e5e5;
  background-color: #ffffff;
}

.form-calendar,
.form-plus,
.form-minus {
  background-color: #a9a9a9;
}

.form-calendar:hover,
.form-plus:hover,
.form-minus:hover {
  background-color: black;
}

.form-calendar:active,
.form-plus:active,
.form-minus:active {
  background-color: #81b3d2;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.main-footer {
  color: black;
  background-color: white;
}

.footer-visit {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.footer-social {
  text-align: center;
}

.footer-social li {
  list-style: none;
}

.footer-social a {
  color: white;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: black;
}

.form-search {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.form-search legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: white;
}

.form-search li,
.form-cost input[value],
.form-button {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.form-button:hover {
  color: black;
  background-color: white;
}

.sorting {
  background-color: white;
}

.sorting-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sorting-list li {
  list-style: none;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dashed #cacaca;
}

.price a {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-navigation a {
  color: #766357;
}

.catalog-item {
  background-color: white;
}

.catalog-list li {
  list-style: none;
}

.catalog-item-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.catalog-item-title a:hover {
  color: #bcd6e7;
}

.catalog-item-title a:active {
  color: #b2b2b2;
}

.catalog-item-info span {
  font-size: 14px;
  line-height: 21px;
  color: black;
}

.button-more {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: white;
  background-color: #81b3d2;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: white;
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: #5e4e44;
  background-color: #503e33;
}

.hotel-rating-stars span {
  background-color: #81b3d2;
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.hotel-rating-text {
  font-size: 14px;
  line-height: 21px;
  color: #b1b1b1;
  background-color: #f2f2f2;
}

/*----*/

html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

.site-navigation {
  display: flex;
  align-items: center;
  height: 50px;
}

.site-navigation li {
  width: 250px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-around;
}

.banner {
  width: 1200px;
  padding-top: 75px;
  padding-bottom: 80px;
}


.subtitle {
  padding-top: 60px;
  padding-bottom: 57px;
}

.search {
  padding-top: 55px;
}

.item-data {
  padding-bottom: 50px;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item-left {
  display: flex;

  justify-content: space-between;
  width: 426px;
  padding-left: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-rating {
  width: 114px;
}

.catalog-item-info {
  width: 260px;
}
