html,
body {
  min-width: 1280px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;

  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.main-header {
  margin: 0;
  padding: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  background-color: #ffffff;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.site-navigation {
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}

.site-navigation li {
  width: 100px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(1) {
  padding-left: 30px;
  padding-right: 37px;
}

.site-navigation li:nth-child(2) {
  padding-right: 280px;
}

.site-navigation li:nth-child(3) {
  padding-right: 4px;
}

.site-navigation li:nth-child(4) {
  padding-left: 47px;
  padding-right: 73px;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
}

.banner,
.subtitle {
  text-align: center;
}

.banner img {
  padding-top: 4px;
}

.banner {
  position: relative;
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: 0% 21%;
  background-repeat: no-repeat;

  width: 1200px;
  padding-top: 75px;
  padding-bottom: 76px;
}

.banner::after {
  content: "";
  bottom: -2px;
  left: 0;
  width: 1200px;
  height: 59px;
  position: absolute;

  padding-bottom: 0;
  background-image: url("../img/intro-mask.svg");
}

.subtitle {
  background-color: white;

  width: 492px;
  padding-top: 47px;
  padding-bottom: 35px;
  padding-left: 355px;
  padding-right: 353px;
}

.subtitle h2 {
  font-size: 21px;
  line-height: 24px;
  padding-bottom: 12px;
}

.feature-text {
  text-align: center;
  width: 400px;
  padding-top: 48px;
  padding-left: 49px;
  padding-right: 49px;

  color: white;
  background-color: #81b3d2;
}

.feature-text-city {
  width: 127px;
  padding-left: 88px;
}

.feature {
  display: flex;
  margin: 0;
  padding: 0;
}

.feature-image {
  width: 800px;
}

.feature-image img {
  display: block;
}

.offers {
  background-color: white;
}

.offers-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.offers-item {
  width: 286px;
  text-align: center;
  padding-top: 60px;
  padding-left: 64px;
  padding-right: 57px;
  padding-bottom: 82px;
}

.offers-item img {
  padding-right: 5px;
}

.offers-item:nth-child(2) img {
  padding-top: 2px;
}

.offers-item:nth-child(3) img {
  margin-top: -3px;
}

.offers-list li {
  list-style: none;
}

.feature-text p,
.reasons-list p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 19px;
  margin: 0;
}

.offers-item p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 21px;
  padding-right: 3px;
  margin: 0;
}

.offers-item:nth-child(2) p {
  width: 286px;
  padding-top: 21px;
  padding-right: 33px;
}

.offers-item:nth-child(3) p {
  padding-top: 21px;
  padding-right: 4px;
}

.feature-text h2,
.reasons-list h2 {
  line-height: 21px;
  padding-bottom: 21px;
  margin: 0;
}

.offers-item h2 {
  padding-top: 18px;
  padding-right: 4px;
  margin: 0;
}

.offers-item:nth-child(2) h2 {
  padding-top: 20px;
  padding-right: 3px;
}

.offers-item:nth-child(3) h2 {
  padding-top: 19px;
  padding-right: 3px;
}

.reasons li {
  list-style: none;
}

.reasons-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.reasons-item {
  width: 265px;
  text-align: center;
  padding-top: 47px;
  padding-left: 68px;
  padding-right: 68px;
  padding-bottom: 64px;
}

.reasons-item:nth-child(1) h2 {
  width: 118px;
  padding-left: 73px;
}

.reasons-item:nth-child(2) h2 {
  width: 100px;
  padding-left: 83px;
}

.reasons-item:nth-child(3) h2 {
  width: 101px;
  padding-left: 83px;
}

.search {
  background-color: white;
  text-align: center;

  padding-top: 50px;

}

.search-item {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.item-data {
  padding-top: 23px;
  padding-bottom: 44px;
  margin: 0;
}

.search-button {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;

  background-color: #766357;

  padding: 30px 140px;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: #827872;
  background-color: #503e33;
}

.form {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  background-color: white;
  width: 568px;
}

.form-show {
  display: block;
}

.form-booking p {
  margin: 0;
}

.form-booking,
.form-booking input[value] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.form-booking input {
  border: none;
  background-color: #f2f2f2;
}

.form-data input {
  width: 331px;
  margin-left: 21px;
  margin-bottom: 29px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.form-data label {
  margin-left: -5px;
}

.form-calendar {
  width: 21px;
  height: 23px;
  background-repeat: no-repeat;

  fill: #a9a9a9;
}

.calendar-arrival {
  position: absolute;
  top: 62px;
  right: 69px;
}

.calendar-departure {
  position: absolute;
  top: 129px;
  right: 69px;
}

.arrival {
  margin-top: 53px;
}

.form-quantity input {
  width: 14px;
  margin-bottom: 54px;
  margin-left: 21px;
  margin-top: -2px;
  padding: 8px 50px;
}

.form-quantity button{
  position: absolute;
}

.form-quantity  .adults {
  margin-left: 37px;
  margin-right: 48px;
}

.form-quantity label {
  margin-right: 4px;
  margin-left: -5px;
}

.form-booking input:hover {
  background-color: #ebebeb;
}

.form-booking input:focus {
  border: #e5e5e5;
  background-color: #ffffff;
}

.form-minus,
.form-plus {
  background-color: #a9a9a9;
  border: none;

  width: 10px;
  height: 3px;
}

.form-minus:hover,
.form-plus:hover,
.plus-adults:hover::after,
.plus-children:hover::after {
  background-color: black;
}

.form-minus:active,
.form-plus:active,
.plus-adults:active::after,
.plus-children:active::after{
  background-color: #81b3d2;
}

.minus-adults {
  top: 208px;
  left: 181px;
}

.minus-children {
  top: 208px;
  left: 410px;
}

.plus-adults {
  top: 208px;
  left: 256px;
}

.plus-children {
  top: 208px;
  left: 485px;
}

.plus-adults::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 4.55px;
  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}

.plus-children::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 4.55px;
  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}

.form-calendar {
  border: none;
  background-color: #f2f2f2;
}

.form-calendar:hover {
  fill: black;
}

.form-calendar:active {
  fill: #81b3d2;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;

  margin-bottom: 56px;
  padding: 15px 195px;
  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.main-footer {
  color: black;
  background-color: white;

  display: flex;
  justify-content: space-around;
}

.main-footer-index {
  margin-top: -128px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

.footer-visit {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;

  padding-left: 23px;
  padding-top: 46px;
  margin: 0;
}

.footer-social {
  text-align: center;

  margin: 0;
  padding-top: 36px;
}

.footer-social ul {
  margin: 0;
}

.footer-social li {
  list-style: none;
}

.footer-social a {
  color: white;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.button-social {
  width: 47px;
  height: 48px;

  background-color: #81b3d2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-social:active path {
  fill: #88b6d1;
  background-color: #5496bd;
}

.footer-social ul {
  display: flex;
  width: 151px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social ul,
.footer-visit,
.footer-copyright {
  padding-bottom: 36px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: black;
  display: flex;

  margin: 0;
  padding-left: 10px;
}

.footer-copyright b {
  padding-top: 46px;
  padding-right: 10px;
}

a.footer-logo {
  margin-top: 40px;
}

.footer-logo {
  width: 115px;
  height: 40px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

.footer-logo:hover {
  background-image: url("../img/logo-hover.svg");
}

.footer-logo:active {
  background-image: url("../img/logo-active.svg");
}

.form-search {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.form-search fieldset {
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.filters {
  width: 510px;
  display: flex;
  justify-content: space-around;
  padding-right: 300px;
}

.form-search {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 31px;
}

.form-search ul {
  margin: 0;
  padding: 0;
}

.form-search legend {
  padding-bottom: 28px;
}

.form-filter:nth-child(1),
.form-filter:nth-child(2) {
  padding-bottom: 23px;
}

.form-filter {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
}

.checkbox-on::before {
  content: "";
  position: absolute;
  left: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.checkbox-off::before {
  content: "";
  position: absolute;
  left: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.form-search legend,
.filter-range-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: white;
}
.filter-range {
  width: 330px;
  padding-right: 73px;
}

.filter-range-title {
  margin-bottom: 9px;
}


.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  color: white;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.form-search ul,
.form-button {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.form-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.form-button:hover {
  color: black;
  background-color: white;
}

.sorting {
  background-color: white;
}

.sorting-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  color: black;
}

.sorting-list li {
  list-style: none;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-arrow {
  width: 35px;
  position: relative;
  top: 39px;
  left: 480px;
  display: flex;
  justify-content: space-between;
}

.arrow-up::before {
  position: absolute;
}

.arrow-down::before {
  position: absolute;
}

.price a {
  color: #81b3d2;
  border-bottom: none;
}

.site-navigation-current a {
  color: #766357;
}

.sorting {
  display: flex;
  margin: 0;
  padding-bottom: 33px;
}

.sorting-search {
  width: 165px;
  padding-left: 65px;
  padding-top: 31px;
  margin: 0;
}

.sorting-sections {
  display: flex;
}

.sorting-title {
  padding-top: 39px;
}

.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-item {
  width: 88px;
  padding-top: 35px;
}

.price {
  padding-left: 37px;
}

.catalog-item::before,
.main-footer::before {
  content: "";
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
  position: absolute;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  background-color: white;
}

.catalog-image-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-item-left {
  display: flex;
  justify-content: space-between;
  width: 426px;
  padding-left: 73px;
}

.catalog-item-info {
  width: 260px;
}

.hotel-rating {
  width: 114px;
}

.catalog-hotel {
  margin-right: 40px;
}

.catalog-motel {
  margin-right: 64px;
}

.catalog-apartment {
  margin-right: 21px;
}

.catalog-list li {
  list-style: none;
}

.catalog-item-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;
}

.catalog-item-title a:hover {
  color: #bcd6e7;
}

.catalog-item-title a:active {
  color: #b2b2b2;
}

.catalog-item-info h2 {
  margin: 23px 0 2px 0;
}

.catalog-item-info span {
  font-size: 14px;
  line-height: 21px;
  color: black;
}

.btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: white;
  padding: 8px 17px;
}

.button-more {
  background-color: #81b3d2;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-more:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: #5e4e44;
  background-color: #503e33;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 73px;
}

.hotel-rating-stars  {
  width: 90px;
  height: 18px;

  margin-left: 25px;
  display: flex;
  flex-direction: row-reverse;
}

.hotel-rating-stars span {
  width: 18px;
  height: 18px;
  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  padding-right: 5px;
}

.hotel-rating-text {
  font-size: 14px;
  line-height: 21px;
  color: #b1b1b1;
  background-color: #f2f2f2;

  width: 81px;
  text-align: center;
  padding: 6px 16px;
  margin: 0;
}
